<div class="card-wrapper">
	<div class="card">
		<a [routerLink]="['/auto',item.id]">
			<div class="item-style">
				<md-card class="md-card">
					<div class="image">
						<img  md-card-image [src]="item.url">
					</div>
					<md-card-header class="md-card-header">
						<div md-card-avatar class="example-header-image"></div>
						<md-card-title class="title">Golf R 2012, GCC, Nabooda **WARANTEE**, full.. </md-card-title>
						<md-card-subtitle class="make">2001 Land Rover HSE</md-card-subtitle>
					</md-card-header>
					<md-card-content class="content">
						<p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
							very well with mountainous terrain, the Shiba Inu was originally bred for hunting.</p>
					</md-card-content>
					<md-card-actions>

					</md-card-actions>
				</md-card>
			</div>
		</a>
	</div>
</div>
