.example-card {
  width: 300px;
}

.example-header-image {
  background-image: url('assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.item-style{
    display:inline-block;
        margin: 0 40px 50px 0;
}

