
  <header>
    <div class="container clearfix">
      <div class="logo">
        <a routerLink="home"><img src="/assets/images/logo_getthat.png" /></a>
      </div>
      <nav class="main-navigation">
        <ul>
          <li><a routerLinkActive="router-link-active" routerLink="home">Home</a></li>
          <li><a routerLinkActive="router-link-active" routerLink="about">About</a></li>
          <li><a routerLinkActive="router-link-active" routerLink="todo">Todo</a></li>
          <li><a routerLinkActive="router-link-active" routerLink="lazy">Lazy</a></li>
          <li><a routerLinkActive="router-link-active" routerLink="auto">Autos</a></li>
        </ul>
      </nav>
      <div class="buttons">
          <a class="btn-orange">Place an ad</a>
          <a class="btn-lightblue-with-border">Sign in</a>
      </div>
    </div>
    
  </header>
  <div class="main-content-wrapper">
    <div class="main-content">
      <div>
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  <!-- Footer starts here -->
    <footer>
        <div class="container ">
            <div class="clearfix">
                <div class="list ">
                    <ul>
                        <li><a href="#" class="gt-icon gt-icon-fb">facebook</a></li>
                        <li><a href="#" class="gt-icon gt-icon-twitter">twitter</a></li>
                        <li><a href="#" class="gt-icon gt-icon-instagram">instagram</a></li>
                    </ul>
                </div>
                <div class="list">
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">contact us</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Content guidelines</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="list">
                    <ul>
                        <li><a href="#">Property from rent</a></li>
                        <li><a href="#">Property for sale</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Autos</a></li>
                    </ul>
                </div>
                <div class="copyrights">
                    <div class="image">
                        <img src="assets/images/logo-getthat-white.png" />
                    </div>
                    <small>© Copyright 2017 Al Nisr Publishing LLC </small>
                </div>
            </div>



        </div>
    </footer>
    <!-- Footer ends here -->

