

  <nav>
    <a routerLinkActive="router-link-active" routerLink="home">Home</a>
    <a routerLinkActive="router-link-active" routerLink="about">About</a>
    <a routerLinkActive="router-link-active" routerLink="todo">Todo</a>
    <a routerLinkActive="router-link-active" routerLink="lazy">Lazy</a>
  <a routerLinkActive="router-link-active" routerLink="auto">Auto</a>
  </nav>
  <div class="hero-universal">
    <div class="inner-hero">
      <div>
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>


