
/* Header - Logo css start here */
header .container{
    padding: 24px 0;
}
header .container,
footer .container{
    width: 1544px;
    margin: 0 auto;
}
.logo{
    max-width: 182px;
}
.logo img{
    width: 100%;
}
.logo,
.main-navigation{
    float: left;
}
header .buttons{
    padding-right: 50px;
    width: 29%;
}
header .btn-lightblue-with-border{
    float: right;
}
/* Header - Logo css ends here */
/* nav starts here */
.main-navigation{
    margin-left: 10%;
}
.main-navigation ul{
    margin: 0;
    padding: 0;
}
.main-navigation li{
    list-style: none;
    display: inline-block;
    padding: 6px 12px 0;
}
.main-navigation li a {
    text-decoration: none;
    color: #484848;
    font-weight: 600;
}

/* nav ends here */
header .buttons{
    float: right;
    padding-right: 50px;
}
/* main content css start here */
.main-content-wrapper{
    width: 100%;
}
.main-content{
    width: 1215px;
    margin: 0 auto;
}
/* main content css ends here */

/* Footer css starts here */
footer{
    background-color: #453269;
    padding: 70px 0 65px;
    color: #fff;
}
footer .container{
    width: 1544px;
    margin: 0 auto;
}
footer .list,
footer .copyrights{
    width: 25%;
    display: inline-block;
}

footer .list{
    float: right;
}

footer .image{
    width: 180px;
}
footer .copyrights small{
    font-size: 12px;
}
footer ul{
    margin: 0;
    padding: 0;
}
footer ul li{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 0;
}
footer .gt-icon:before{
    color: white;
    font-size: 1.5625rem;
    margin-right: 5px;
    vertical-align: middle;
}
/* Footer css ends here */
